<!-- Section One -->
<div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
            <i class="fab fa-youtube fa-10x"></i>
        </div>
        <div class="col-sm-6">
            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui laboriosam et architecto? Nihil et debitis libero odio qui deserunt culpa? Harum, quibusdam quos! Error expedita libero sequi inventore, corporis maiores.</p>
        </div>
    </div>
</div>